// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.tabsBar div.tabbar {
    background-color:  #11368C;
}

.logoIcon{
    margin: 0 auto;
}


.logoIcon img{
    height: 25px;
    margin-top: 5px;
}

.filter-logo-wrapper{
    position: absolute;
    right: 10px;
}

.filter-logo-wrapper .ion-ios-funnel{
    font-size: 1.3em !important;
}

.toolbar-md{
    min-height: 42px;
}

.tabsBar .tab-button-icon{
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.tab-button-icon + .tab-button-text{
    color: white;
}

.label-md {
  margin: 5px 8px 5px 0;
}

.background-with-logo {
  background-position: center;
  background-image: url('../assets/imgs/logo-gray-rbc.png');
  background-repeat: no-repeat;
}

.text-align-center {
  text-align: center;
}
