<ion-header>
  <ion-navbar>
    <ion-title>Filter</ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">Ok</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item>
        <ion-label>Test1</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Test1</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Test1</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Test1</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
    </ion-list>
</ion-content>
