<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button (click)="cancel()">
        <span ion-text color="primary">Cancel</span>
      </button>
    </ion-buttons>
    <ion-title>Filter</ion-title>
    <ion-buttons right>
      <button ion-button (click)="confirm()">
        <span ion-text color="primary">Ok</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- Entity types -->
    <ion-list>
      <ion-item *ngFor="let entityType of entityTypes">
        <ion-label>{{ entityType }}</ion-label>
        <ion-toggle [(ngModel)]="filterModel[entityType]"></ion-toggle>
      </ion-item>
    </ion-list>
  <!-- Alert types -->
  <ion-list>
    <ion-item *ngFor="let alertType of alertTypes">
      <ion-label>{{ alertType }}</ion-label>
      <ion-toggle [(ngModel)]="filterModel[alertType]"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
