<ion-card *ngFor="let item of items" (click)="toggleDetails(item)">
    <ion-item class="timelineItem">
          <ion-avatar item-start class="timelineAvatar">
              <ion-icon name="{{item.icon}}" id="timelineIcon"></ion-icon>
          </ion-avatar>
          <h2>{{item.title}} ({{item.entityId}})</h2>
          <h3>{{item.entityName}}</h3>
          <p>On {{item.timestamp | date: "dd/MM/yyyy"}} at {{item.timestamp | date: "hh:mm"}}</p>
          <p>#{{item.entityCategory}}<p>
    </ion-item>
 
    <ion-card-content *ngIf="item.showDetails">
        <p class="timelineMessage">{{item.message}}</p>
    </ion-card-content>
</ion-card>

<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="dots"
      loadingText="">
    </ion-infinite-scroll-content>
</ion-infinite-scroll>
