.timelineAvatar{
  min-width: 37px !important;
  margin-right: 5px !important;
}

.timelineAvatar #timelineIcon {
  overflow: hidden;
  display: block;
  max-width: 100%;
  border: 0;
  font-size: 1.8em;
}

.timelineContent h2{
  font-size: 1.2rem !important;
  margin-top: 0px !important;
  font-weight: bold;
}

.timelineContent h3{
  font-size: 1.1rem !important;
  margin-top: 0px !important;
  font-style: italic;
}

.timelineItem p{
  color: #666;
  font-size: 1.0rem;
  font-style: italic;
}

/*.timelineContent{
  background: url("../../img/logo_rbc.png");
  opacity: 0.2;
}*/

.timelineContent .scroll-content{
  padding: 0px !important;
}

.timelineContent .timelineMessage{
  font-size: 1.1rem;
}

