.timelineAvatar{
  min-width: 37px !important;
  margin-right: 5px !important;
}

.timelineAvatar #timelineIcon {
  overflow: hidden;
  display: block;
  max-width: 100%;
  border: 0;
  font-size: 1.8em;
}

.timelineContent h2{
  font-size: 1.2rem !important;
  margin-top: 0px !important;
  font-weight: bold;
}

.timelineContent h3{
  font-size: 1.1rem !important;
  margin-top: 0px !important;
  font-style: italic;
}

.timelineItem p{
  color: #666;
  font-size: 1.0rem;
  font-style: italic;
}

.timelineContent{
  position: relative;
  background: #f4f4f7;
  overflow: hidden;
  /*background: url("https://www.seeklogo.net/wp-content/uploads/2016/11/rbc-logo-preview.png") no-repeat fixed center; 
  background-color: rgba(192,192,192,0.3);*/
}

.timelineContent:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.2;
  background-image: url('../assets/imgs/logo-gray-rbc.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 700px;
}

.timelineContent .scroll-content{
  padding: 0px !important;
}

.timelineContent .timelineMessage{
  font-size: 1.1rem;
}

